<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>!!!</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Chango&family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/404.css">
</head>
<body>
    <main>

        <h4 class="header404">404</h4>

        <div style="text-align: center; color: aliceblue;">
            Não foi possível encontrar a página que você está procurando..
        </div>
        <p>
            <a id="counter" style="color: aliceblue;">Redirecionado para a página principal em 5s</a>
        </p>
    </main>
    
    <script src="/javascripts/404.js"></script>
</body>
</html>